<head>
    <%- include( "include/header", {title: "Maverick University Directory: Search"}   ); %>
</head>

<body>
    <!-- <div class="container"> -->
    <%- include( "include/top-page_mat", {username: username} ); %>
    <!-- <a href="/"> Search again. </a> -->

    <div class="container-fluid">
        <%= queryResult.length %> results found.
        <% if(typeof timeDiff != 'undefined') { %> Took <%= timeDiff %> seconds. <% } %>

        <table class="table responsive-table highlight">
            <tr>
                <th>ID</th>
                <th>Name</th>
                <th>City</th>
                <th>Company</th>
            </tr>
            <% 
            for ( x in queryResult ) {
            %>
            <tr>
                <% var userid = queryResult[x]["user_id"] %>
                <td> <%= userid %> </td>
                <td class="cap">
                    <a href="user?id=<%= userid %>"> <%= queryResult[x]["display_name"] %> </a>
                </td>
                <td class="cap"> <%= queryResult[x]["display_city"] %> </td>
                <td class="cap"> <%= queryResult[x]["institution_name"] %> </td>
            </tr>
            <% } %>
        </table>
    </div>

    </div>
</body>