<head>
        <%- include( "include/header", {title: title}   ); %>
    </head>
    
    <body>
        <div class="container">
            <%- include( "include/top-page", {title: title, username: username} ); %>
            <!-- <a href="/"> Search again. </a> -->

            <div class = "container-fluid">

            <table class = "table table-striped">
            <tr>
                <th>ID</th>
                <th>Name</th>
                <th>Course</th>
                <th>Specialization</th>
            </tr>

            <% 
            var i = 0;
            for ( x in queryResult ) {  
                i++; %>
                <tr> 
                    <td> <%= queryResult[x].student_id %> </td>
                    <td class = "name"> <%= queryResult[x].name %>  </td>
                    <td class = "course"> <%= queryResult[x].course %>  </td>
                    <td class = "spec"> <%= queryResult[x].specialization %> </td>
                </tr>
            <% } %>
            </table>
            </div>
        <h5> <%= i %> results. </h5>
    
    </div>
</body>
